streamlit
opencv-python-headless
numpy
Pillow
paddleocr==3.7.0
paddlepaddle
scikit-learn
black
ruff
pytest
python-dotenv
jiwer
sacrebleu
deep-translator
torch
torchvision
scikit-image
sanskrit_parser
indic-nlp-library
indic-transliteration

